.FlipCard-container {
  width: 350px;
  margin: auto;
  display: flex;
  position: relative;
  .card-img {
    position: absolut;
    left: 50;
    top: 50;
    transform: translate(50, 50);
    border-radius: 0px 40px 0px 40px;
    box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.75);
  }
}
